html,
body {
    height: 100%;
    margin-top: 0px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.desc {
    position: fixed;
    left: 150px;
    top: 150px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 250px;
    background: rgb(25, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(25, 25, 25, .5);
}

.desc img {
    height: 100px;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.person {
    outline: thin solid black;
    margin: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .desc {
        display: none;
    }
    .row img {
        width:100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 769px) {
    .desc {
        display: block;
    }
}



#get-involved img {
    padding-bottom: 10px;
}

#get-involved a:hover {
    text-decoration: none;
}

#get-involved a {
  color: black;
}

#about a {
  color: black;
  background-color: yellow;
}

#the-team a {
  color: black;
  background-color: yellow;
}

 #meetings a {
   color: black;
   background-color: yellow;
 }

  #advisory-board a {
    color: black;
    background-color: yellow;
  }
  #news a {
    color: black;
    background-color: yellow;
  }
