html,
body {
    height: 100%;
    margin-top: 0px;
    font-size: 14pt;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.desc {
    position: fixed;
    left: 140px;
    font-size: 22pt;
    font-weight: 600;
    top: 100px;
    padding: 10px;
    width: 500px;
    text-shadow: 3px 3px #000000;

}
.desc img {
    height: 150px;
    padding-bottom: 20px;
}

.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

.person {
    outline: thin solid black;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .desc {
        display: none;
    }
    .row img {
        width:100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 769px) {
    .desc {
        display: block;
    }
}

@media screen and (max-width: 740px) {
    #tools div {
      margin-bottom: 10px;
      padding-bottom: 20px;
    }

    #get-involved div {
     margin-bottom: 10px;
     padding-bottom: 20px;
    }
  }

@media screen and (max-width: 740px) {
      #about img {
        margin-bottom: 10px;
        padding-bottom: 20px;
      }
    }

.bluesection {
  background-color: #aeecfd;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-left: 100px;
  padding-bottom: 50px;
}
.graysection {
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
    padding: 15px;

}
a:hover {
  font-weight: 600;
}

#about a {
  color: black;
  background-color: yellow;
}
.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: none;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  min-width: 100px;
}
.btn:hover {
  background-color: black;
  color: white;
}
.bigp {
  font-size: 22pt;
  font-weight: 600;
}

#the-team a {
  color: black;
  background-color: none;
}
#the-team a:hover {
  text-decoration: underline;
}

#workshops a, #tools p a {
  color: black;
  background-color: yellow;
}
#tools ul a {
  color: black;
  background-color: yellow;
}

 #community a {
   color: black;
   background-color: yellow;
 }

 #community img {
   border: solid 10px white;
 }

  #advisory-board a {
    color: black;
    background-color: yellow;
  }
  #news a {
    color: black;
    background-color: yellow;
  }

#tools ul {
    list-style: none;
  }

#tools  ul li:before {
    content: '✓   ';
  }
  a img:hover {
    opacity: 50%;
  }
