html,
body {
    height: 100%;
    margin-top: 0px;
    font-size: 14pt;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

.desc {
    position: fixed;
    left: 150px;
    font-size: 22pt;
    font-weight: 600;
    top: 100px;
    padding: 10px;
    width: 500px;
    text-shadow: 3px 3px #000000;

}
.desc img {
    height: 150px;
    padding-bottom: 20px;
}

.navbar {
    background-color: 000;
    border-color: transparent;
}

.person {
    outline: thin solid black;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

@media (max-width: 768px) {
    .desc {
        display: none;
    }
    .row img {
        width:100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 769px) {
    .desc {
        display: block;
    }
}

@media screen and (max-width: 740px) {
    #tools div {
      margin-bottom: 10px;
      padding-bottom: 20px;
    }

    #get-involved div {
     margin-bottom: 10px;
     padding-bottom: 20px;
    }
  }

@media screen and (max-width: 740px) {
      #about img {
        margin-bottom: 10px;
        padding-bottom: 20px;
      }
    }



.bluesection {
  background-color: #aeecfd;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-left: 100px;
  padding-bottom: 50px;
}
.graysection {
  background-color: #efefef;
  margin-left: auto;
  margin-right: auto;
    padding: 15px;

}
a:hover {
  font-weight: 600;
}
.container a {
  color: black;
  background-color: yellow;
}
.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
.btn:hover {
  background-color: black;
  color: yellow;
}
.bigp {
  font-size: 22pt;
  font-weight: 600;
}



  .local {
    border-right: 2px solid #000;
  }
.border img {
  border: 1px solid gray;
  margin-bottom: 20px;
  margin-right: 20px;
  max-width: 75%;
}

.padding {
  padding: 10px;
}
