html,
body {
    font-size: 16pt;
    margin-top: 35px;
}

.navbar-brand img {
    height: 40px;
}

.navbar-inverse .navbar-nav li a {
    line-height: 40px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #55acee;
}

h1 {
    color: #55acee;
    text-align: center;
}

footer {
    margin: 50px 0;
    font-size: 12pt;
}


