html,
body {
    font-size: 12pt;
    margin-top: 35px;
}

.navbar-brand img {
    height: 40px;
}

.navbar-inverse .navbar-nav li a {
    line-height: 40px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
}
@media (max-width: 768px) {
    .navbar-header {
        height: 60px;
    }
}
.navbar-inverse .navbar-nav li a:hover {
    color: #5fa9dd;
}

h2 {
    color: #5fa9dd;
    text-align: center;
    font-weight: normal;
    padding-bottom: 20px;
}

footer {
    margin-top: 30px;
    font-size: 12pt;
    padding: 10px;
}
