    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                    <span class="icon-bar">&nbsp;</span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/"><img alt="DocNow" src="{{ site.baseurl }}/img/dn.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% if page.url != "/" %}{{ site.baseurl }}/{% endif %}#about">ABOUT</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="{% if page.url != "/" %}{{ site.baseurl }}/{% endif %}#get-involved">GET INVOLVED</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="{% if page.url != "/" %}{{ site.baseurl }}/{% endif %}#the-team">THE TEAM</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="{% if page.url != "/" %}{{ site.baseurl }}/{% endif %}#advisory-board">ADVISORY BOARD</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="{% if page.url != "/" %}{{ site.baseurl }}/{% endif %}#meetings">MEETINGS</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="{% if page.url != "/" %}{{ site.baseurl }}/{% endif %}#news">NEWS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
